/*===============================================================*/
/*add font family*/
/*===============================================================*/
.pacifico{
    font-family: 'Pacifico' ,cursive;
}

.spirax{
    font-family: 'spirax',cursive;
}

.danscr{
    font-family: 'Dancing Script', cursive;
}

.orbit{
    font-family: 'Orbitron', sans-serif;
}

.eagle{
  font-family: 'Eagle Lake', cursive;
}

.vibes{
  font-family: 'Great Vibes', cursive;
}

.rochester{
  font-family: 'Rochester', cursive;
}
/*===============================================================*/
/*navbar styling*/
/*===============================================================*/
nav{
      background: #D31027;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      font-family: 'Eagle Lake', cursive;
}



.navbar-inverse .navbar-nav>li>a{
    color: white;
    text-align: center;

}
.navbar-inverse .navbar-nav>li>a:hover{
  color: black;
  background-color: none;
}

.navbar-inverse .navbar-nav>li>a:focus{
  background: black;
  border-radius: 25px;
  color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
/*===============================================================*/
/*first section styling*/
/*===============================================================*/
.center{
    width:30%;
    margin: 0 auto;
}
#first{
    padding-bottom: 25px;
}
/*===============================================================*/
/*end of first section*/
/*===============================================================*/
/*second section styling*/
/*===============================================================*/
#second{
   background: #EF3B36;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   height: 350px;
   width: 100%;
}
#second center{
  padding-top: 150px;
}

/*===============================================================*/
/*end of second section styling*/
/*===============================================================*/
/*products section styling*/
/*===============================================================*/

#myCarousel img{
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}
#products h3{
  color: crimson;
}
#third{
  height: auto;
  width: auto;
}
#third .container{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 150px;
  height: 400px;
  width: 50%;
  color: white;
  background-color: black;
  border-radius: 50%;
}
/*===============================================================*/
/*end of products section*/
/*===============================================================*/
/*servicess section styling*/
/*===============================================================*/
#services{
  height: auto;
  width: 100%;
}
/*===============================================================*/
/*end of services section styling*/
/*===============================================================*/
/*===============================================================*/